streamlit
pandas
pyyaml
python-dotenv
tqdm

ffmpeg-python
pydub
soundfile

faster-whisper
edge-tts
srt

transformers
sentencepiece
sacremoses

safetensors
deep-translator
yt-dlp

requests
google-genai>=2.0.0
google-generativeai
google-cloud-texttospeech
